[2016-09-28 18:57] shunshou opened #2 "dsptools.numbers.BlackBoxFloatSpec"
Fails when Verilator isn't installed.

[2016-09-29 23:22] ducky64 opened #4 "Make dsptools parallel-friendly"
Apparently something with ParameterizedSaturatingAdder (or something) plays around with global state that might cause some other tests to fail since chisel runs ScalaTest test cases in parallel.

[2016-10-25 17:33] #4 closed, assigned to nobody

[2016-10-25 18:30] #2 closed, assigned to nobody

[2016-11-09 00:57] grebe opened #9 "Some tests fail now"
With the bump-firrtl branches of firrtl-interpreter and chisel-testers, I get these errors:

[info] Exception encountered when attempting to run a suite with class name: dsptools.numbers.BlackBoxFloatSpec *** ABORTED ***
[info]   java.lang.NoSuchMethodError: firrtl.FirrtlExecutionOptions$.apply$default$7()Lscala/collection/immutable/List;
[info]   at chisel3.BackendCompilationUtilities$$anon$1.<in

[2016-11-11 00:16] chick commented on #9
@grebe I will look at this tonight hopefully.  I do not think it is a merge problem with
dsp-real-support.  The black box stuff has changed to actually use the stuff defined in dsptools.  It had been using a shadow implementation of real black boxes that lived in firrtl-interpreter

[2016-11-11 17:28] chick commented on #9
@grebe I'm pretty sure this is more version madness, All tests pass for me when I am on all main branches.  I think the problems was fixed with latest PR'S merged into chisel-testers

[2016-11-11 18:40] grebe commented on #9
Thanks, passes for me now too.

[2016-11-11 18:40] #9 closed

[2016-11-16 19:25] grebe opened #12 "Add new ExecutionOptions, Logging"
[This code in DspTester](https://github.com/ucb-bar/dsptools/blob/master/src/main/scala/dsptools/DspTester.scala#L93) prints messages every time. Ideally, dsptools would use the same logging infrastructure as everything else.

@stevobailey has an issue where DspPoke messages (among other things) fills up travis logs very quickly.

[2016-11-16 19:26] grebe commented on #12
For now, should I add back in a verbose flag to the DspTester?

[2016-11-16 20:20] chick commented on #12
I think we should wait for [/ucb-bar/chisel-testers/pull/62](https://github.com/ucb-bar/chisel-testers/pull/62) to get merged and then use the existing _verbose flag in the chisel_testers to control println's in DspTester

[2016-11-16 20:25] grebe commented on #12
Is _verbose meant to be visible to subclasses? If so, that sounds like the right thing to do.

[2016-11-16 23:19] chick commented on #12
It is visible, I am not sure if it is supposed to be or not.  But I think we should use it for now

[2016-11-16 23:55] grebe opened #15 "examples.TransposedStreamFIRSpec fails"
I think this is because expect on negative SInts fails, so maybe it is a chisel-testers problem. I was running https://github.com/ucb-bar/chisel-testers/pull/61 - maybe this exposes the error. @chick, can you reproduce?

[2016-11-17 19:13] chick commented on #15
@grebe, I can reproduce it, working on a fix

[2016-11-17 21:13] chick commented on #15
@grebe this is very strange.  I can fix this by changing checkAnswer in ConstantTapTransposedStreamingTester to return a BigInt
[code]
I cannot reproduce the error in a simpler example.  I've been bitten by this before

[2016-11-17 23:07] chick commented on #15
I have spent even more time trying to simplify this problem to no avail.
In some specific and rare circumstances an implicit conversion from Int to BigInt fails when calling expect.  I have even tested whether having the caller and callee in different jars matters, it does not.

[2016-11-17 23:44] grebe commented on #15
That is very weird. The BigInt implicit conversion is a scala thing, right?

[2016-11-18 00:16] chick commented on #15
Yes, pure scala, except that other arguments to the function are chisel types. I can't believe that that is the cause though, and I did enough testing to suggest it's not some simple correlation.
BTW, I have submitted a PR to chisel-testers for this fix.

[2016-11-18 00:34] grebe commented on #15
Cool, thanks for tracking this down.

[2016-11-29 20:22] stevobailey opened #17 "simplify generic type usage"
Change this:
Wire(implicitly[Real[T]].zero)

into this (possibly still need the Wire wrap):
Real[T].zero

[2016-12-02 19:56] shunshou commented on #12
@chick can you explain why/when you should be using dsptools.Driver.executeFirrtlRepl instead of chisel3.iotesters.Driver.execute?

Also, in general, better documentation on when to use what Drivers and how to supply arguments to say, FIRRTL, from your project, would be *extremely* useful.

It kind of bothers me that something you simulate might not be the thing you actually end up generating Veri

[2016-12-05 17:08] chick commented on #12
@shunshou The executeRepl launches the firrtl interpreter repl (shell) that let's one interactively peek poke and fiddle with the circuit.  I use it for certain kinds of debugging both of circuits and of the interpreter itself.  It is somewhat orthogonal to the iotesters.Driver.execute, which runs a PeekPoke tester harness on the device under test. Although the repl does provide for script files o

[2016-12-07 22:20] stevobailey opened #21 "automate inclusion of BBF operators in verilator"
i don't want to copy the verilog everytime i run verilator in some higher-level project. how do i do this?

[2016-12-07 22:23] grebe commented on #21
In particular, even if a dsptools driver spits out verilog in the right place, it won't work with the rocket build system.

@chick, do you have any thoughts? I'm wondering if a firrtl pass that inlines the handwritten verilog would be a workable solution.

[2016-12-09 23:08] grebe opened #22 "Should we add implicits to dsptools.numbers package object?"
I'm finding that 99% of the dsptools code I write requires the following:
[code]

I think there is a use case for using dsptools without the numbers, but I'm not so sure it makes sense to use `dsptools.numbers` without the implicits.

[2017-01-11 01:01] chick commented on #21
@stevobailey @grebe : I don't know enough to comment on this.  I'd be happy to help work on it though.

[2017-01-11 01:03] chick commented on #15
This was resolved, problem was based on wrong implicit being invoked

[2017-01-11 01:03] #15 closed

[2017-01-11 01:05] chick commented on #12
@shunshou : Can we close this?

[2017-01-11 01:14] shunshou commented on #12
Ok I missed your previous post. Is there now documentation listing particular options you can mess with and pass down all the way to FIRRTL? Say, how to run the SRAM pass from Chisel, etc. I'd like one concrete example that explains all possible ways people can setup the drivers.

[2017-01-11 01:41] grebe commented on #21
[this code](https://github.com/ucb-bar/dsptools/blob/5ac59948f6bd9ccbf7951a371d8da75bc0ea4533/src/test/scala/dsptools/numbers/BlackBoxFloat.scala#L45)  seems to be the only place that refers to the verilog black box implementations for floating point and I'm not even really sure what it's doing. There should be some standard way of getting the verilog blackboxes where they need to be b/c at the mo

[2017-01-11 01:46] grebe commented on #12
@shunshou I agree the Driver and logging interface need documentation, but I think that is an issue far outside the scope of this issue and project. There is now a standard way of adding execution options (and log levels, I guess), but there is not a standard way of documenting and exposing them.  This needs to happen.

@chick, do you think this should become a firrtl issue? chisel3? I'm not reall

[2017-01-11 01:52] shunshou commented on #12
I think it should be an issue at all levels in which the execution options are used. Since there are custom DSP driver execution options, you should describe those and have links to explanations of Chisel/FIRRTL options in their respective repos, since the DSP driver extends everything down to whatever base thing from Chisel/FIRRTL land... I'd like to see that happen ASAP.

[2017-01-11 18:35] stevobailey commented on #21
Verilator looks in the current directory and the test_run_dir/**/ directory for files named "Module.v" where Module is the missing module, such as BBFMultiply or BBFAdd. To get it to work, I manually copy the file into the test_run_dir and rename it. We could have firrtl or whatever creates the Verilog file automatically write out these files along with the design into the appropriate test_run_dir

[2017-01-12 03:42] shunshou commented on #12
@chick can you or someone else write up an example of the "one true" methodology for setting up with various execution options? I'll probably just end up writing some messy, pieced together thing if there isn't some nice formula, and I really don't want to keep rewriting code for the sake of following right way to write something that isn't explicitly expressed anywhere... I'm just hesitant to sta

[2017-01-12 03:55] shunshou commented on #21
I believe the particular directory is set via execution options somewhere, but exactly where [and what's the default] is complicated to dig through, hence why I really want someone to document how things work.

I think I'll need something like this for other reasons, and I'm down to write a FIRRTL pass that inlines black boxes, if you want... since I really *don't* want to start porting my stuff u

[2017-01-12 03:55] shunshou commented on #12
I'm also ok writing a hacked example and having someone clean it up to look the way it should work to use as a golden model...

[2017-01-12 04:39] ducky64 commented on #21
So Chisel has options in the testrunner to include external .v files, which is how black box tests are done in core Chisel. I don't know enough about rocket-chip, but would it be feasible to have rocket-chip tests be more like Chisel tests, using a core-Chisel derived testrunner (rather than doing its own thing way off yonder)?

[2017-01-12 04:51] shunshou commented on #21
This whole Chisel/rocket-chip thing is just super, as Paul would put it, janky. The infrastructure to test with rocket-chip at the top level is completely different from running tests on an isolated module with Chisel... but I think it's too legacy-ish (and possibly necessary to keep?)... At least that was my observation from dealing with rocket-chip in the summer. But it's not just tests; it's th

[2017-01-12 05:36] ducky64 commented on #21
So the engineer in me would argue for improving the rocket-chip infrastructure, because everyone and their dog is going to want a open processor in their chip, and have it well tested in a coherent framework.
The researcher in me rates the probability of this happening as pretty low, unless we had a coordinated infrastructure push or there was a good research justification (such as testability, if

[2017-01-12 05:43] shunshou commented on #21
I don't disagree, but good luck getting some "coordinated infrastructure push" going. I'm just jaded :P

Basically, my own progress with anything Chisel-related has been generally hindered by "[hoping] it happens soon" == *crickets chirping* :D Either that or do it yourself with some hack solution that eventually gets replaced. Lots of redundant work... I get that agile design treats code as cheap

[2017-01-12 05:45] shunshou opened #29 "DSPTester printing Verilog"
Forgot to bring this up at the meeting, but see:

https://github.com/ucb-art/ChiselDSP/blob/master/src/main/scala/Overlay/DSPTester.scala

Every peek/poke corresponds to equivalent Verilog TB syntax. Super useful for debugging stuff later down the chain (say whether memory swapping actually worked or not) when you're not using rocket-chip's build infrastructure.

[2017-01-12 05:49] ducky64 commented on #21
One way to work around "hope it happens soon" is to open an issue with a proposal, bug people about it (either by including them on the issue, or finding them at the Chisel meetings), then implement and PR it. The proposal gives people a chance to give feedback, hopefully ensuring that there's no API changes on the horizon that would completely break it and that it's overall a good design that wil

[2017-01-12 06:25] shunshou commented on #21
Ok, I now remember staring at your code awhile back and seeing the clock poking. Thanks :)

I think your solution is very idealized. I haven't opened *that* many issues, but I've opened enough and commented enough in others to know that most of the more important issues don't usually get dealt with. Since they're usually on major missing components of Chisel, at least from the few Chisel meetings

[2017-01-12 06:32] shunshou commented on #12
Actually, turns out I posted an issue re: documentation for this (before executeoptions was created?) here: https://github.com/ucb-bar/chisel3/issues/309 [I just never got any responses...]

[2017-01-12 06:58] ducky64 commented on #21
I think that there are a lot of issues and there aren't enough Chisel core devs to deal with everything. Multiclock, for example, is something that's been on the radar for years, and there's been some (very slight) external pressure for it, but overall there's never been a clear internal driver for it and most could work around it with a janky (but correct) hack. The ball has been dropped on the c

[2017-01-12 07:29] shunshou commented on #21
Well, I think part of the reason I'm slightly averse to going to Chisel meetings is... there was that period I went last year where I felt like everyone was just nodding in agreement that things would be nice to have, but not actually wanting to do anything about it. I'm sure it partially had to do with the fact that I was a low-priority external entity that no one really knew back then, but, it j

[2017-01-12 08:35] shunshou opened #30 "Support for trig functions w/ Verilator"
I believe with SystemVerilog, you can do stuff like $atan, so I assume this should work with Verilator? I'd like to be able to compute an angle with CORDIC, which only operates on synthesizable bits, but also be able to swap the CORDIC block out with some non-synthesizable trig function + appropriate delays, for the purposes of simulating SQNR/performance degradation between floating pt and fixed

[2017-01-12 09:50] shunshou commented on #30
In general:

Trig functions for Real #'s
DSPTester with Verilog dump
Documentation of ExecutionOptions
RoundHalfUp, Floor [at the minimum]
Ranges for control logic [UInts mostly]
Need to double check, but is ROM support in Chisel3 nice like in Chisel2? Or is it just a nasty bunch of logic? I'd like to use a ROM compiler instead of logic for easier place & route, so this should be special cased out

[2017-01-12 21:14] chick commented on #21
I'll take a look at it, but I'd like to try and figure out what's broken on
fixed pointer numbers first.

Chick Markley
Staff Programmer -- Aspire Lab
University of California, Berkeley
583-2 Soda Hall, Berkeley, CA 94720-1776
chick@berkeley.edu

On Thu, Jan 12, 2017 at 12:32 PM, Stevo <notifications@github.com> wrote:

[2017-01-13 00:27] grebe opened #32 "Document dsptools.Driver usage"
Per @shunshou comment in #31.

[2017-01-13 23:59] shunshou opened #34 "Interfaces should be in a separate repo"
You shouldn't need to pull in testchipip and rocket-chip to build small DSP blocks. In general, a lot of things were added here "for convenience", but they bloat DSPtools with non-DSP-y things.

[2017-01-14 10:11] shunshou opened #35 "Why did someone decide fractionalBits = binaryPoint?"
binaryPoint is ambiguous. Could be # of bits from LSB or MSB before binaryPoint...

[2017-01-14 10:30] shunshou commented on #35
From a user standpoint, I also find it weird that FixedPoint is a chisel3 thing vs. DspReal is a dsptools thing.

Also, one would think that DspReal and Real are similar, except Real is more like Ring vs. DspReal is more like FixedPoint, SInt, etc.

[2017-01-15 04:51] shunshou opened #36 "How to do Double to T conversion?"
if I have gen : => R, where R <: Data:Real, how do I get a constant (say 3.3333) of type R?

I would have wanted to try something like gen.fromDouble(3.3333), but I got `value fromDouble is not a member of type parameter R`.

I saw in Stevo's FFT:

`implicitly[Real[R]].fromDouble(3.333333)`

At least this compiles...

But my question then is, how do you specify the width, # of fractional bits of t

[2017-01-15 22:14] stevobailey commented on #17
bump

[2017-01-16 00:12] shunshou opened #38 "DSPTester peek/poke printing more useful info"
I think you shouldn't directly be using TesterOptionsManager and should have a DSPTesterOptionsManager that lets you customize verbosity.

I finally got the standard PeekPokeTester to print out something, but evidently, things are just printed out as BigInt converted to base 10.

My old DSPTester printout allowed for much more thorough debugging:

You could print out base 10/hex bits flavor. It wo

[2017-01-16 00:45] shunshou opened #39 "Still support +&, etc. without DSPContext"
Having to type DspContext.withOverflowType(Grow) { io.in.bits.x + io.in.bits.y } is kind of annoying if you know there are particular places [even within a given submodule] that you want +& vs. whatever is standard...

[2017-01-16 01:01] shunshou opened #40 "DSP Type parameterization suggestion"
In general, if you want to switch between DspReal and FixedPoint, I think it makes sense to be able to externally specify # fixed point bits via your favorite case class, CDE, or other parameterization method.

Really, I think I just care that I pass in Fixed, Real, and then within the module itself, have some custom chiselCloneType that lets you specify you want a Fixed with width blah and fracWi

[2017-01-16 04:28] shunshou commented on #36
Ok, so seems like doing
val temp2 = implicitly[Real[Q]].fromDouble(9.333333)
can't possibly work correctly for FixedPoint #?'s

It uses FixedPoint.fromDouble(9.33333), which has default width = -1 and binaryPoint = 0. Default width = -1 gets translated to Width(), which gets properly inferred (assuming no fractional bits) down the line (i.e. 9.333 -> 5 bits, including 1 for sign), but the # of fra

[2017-01-16 06:08] grebe commented on #36
So I think you're right that it is busted. What I think I used to do when writing the typeclasses would be to create my own typeclass instance (e.g. by extending [this](https://github.com/ucb-bar/dsptools/blob/master/src/main/scala/dsptools/numbers/FixedPointRing.scala#L59) and override fromDouble to include specify and binary point and possibly width. I don't think this technique made it into the

[2017-01-16 06:25] grebe opened #43 "Set up Travis CI"
@chick @ucbjrl I don't have the permissions to set up travis. We should do this.

I'll add a .travis.yml if one of you don't mind setting up travis's side of things.

@ucbjrl is there a way to set it up to do nightly builds? I'd like to run a script that checks out the head of master of everything and check that it still works. Our last floating point regression shouldn't have been around for so l

[2017-01-16 06:45] shunshou commented on #36
Will address with a pimp my library style PR. You guys can decide on a best way to proceed later. I just need something now.

[2017-01-16 09:23] #36 closed

[2017-01-16 17:31] ucbjrl commented on #43
I'll look into what's involved in setting up travis.

We have Jenkins set up for chisel builds such that if anything in the
monitored group (chisel3, firrtl, chisel-testers, firrtl-interpreter,
rocketchip) changes, we rebuild everything. This eliminates most of the
motivation for nightly builds.

On Sun, Jan 15, 2017 at 10:25 PM, grebe <notifications@github.com> wrote:

[2017-01-16 22:38] shunshou commented on #32
Code snippet is fine (how to change options from default):

Create case classes related to testerOptions, interpreterOptions, chiselExecutionOptions, firrtlOptions.

[code]

Along with pointers to the fact that

[code]

@ [https://github.com/ucb-bar/chisel-testers/blob/master/src/main/scala/chisel3/iotesters/TesterOptions.scala](chisel-testers)

[code]

Are all the possible testerOptions. Same for

[2017-01-16 22:40] shunshou commented on #38
I'm working on my own version of VerboseDspTester (extends DspTester) that gives me features I want. It should also make addressing #29 a piece of cake whenever I need to do it for hardware validation...

[2017-01-16 22:47] shunshou opened #45 "Mechanism to convert DspReal [that you know is >=0 b/c of the algorithm] to UInt?"
I kind of need this to go from angles to discrete frequency bin # 's. I'm unsure about the best way to do this.

At least for FixedPoint, you can theoretically do: FixedPoint -> Rount to SInt -> asUInt conversion...

DspReal you can round too... But is there some way to cast it as an Int and then convert it to an SInt?

@chick @grebe

I need something like this fairly urgently.

[2017-01-16 23:10] shunshou commented on #45
Ok, so someone can correct me: am I just looking for removeMatissa? (which is a function that's also misspelled...) @grebe @chick ?

[2017-01-17 00:19] grebe commented on #45
I think it is called .toUInt, but should probably be changed to asUInt

[2017-01-17 00:21] chick commented on #35
One of the motivating factors in the choice of binaryPoint was the desire to support binaryPoints that were negative indicating a virtual exponent.  I agree where the various players here (FixedPoint, DspReal) seems a bit arbitrary, but the short term decision was based on how fundamental FixedPoint needed to be in order to properly support it.  So it became part of chisel/firrtl, the real stuff w

[2017-01-17 00:22] chick commented on #35
@shunshou did you have a specific proposal in this issue?  Change the name or simply better doc about the amibguities

[2017-01-17 00:25] shunshou commented on #35
Sorry, ok I forgot about the negative binary points. But yes, if that's fine, please document. I just have to think about that every time I generate FixedPoint (back translate from what I'm used to).

[2017-01-17 06:31] chick commented on #45
Sorry, but I'm not sure, I think @grebe is right.  It looks to me like it is just returning the underlying 64 bit real.  This seems asymmetric between FixedPoint and DspReal, does this currently work?

[2017-01-17 06:39] shunshou commented on #45
It's on my to do list of things to check. I actually want just the (signed) integer portion of the real..., possibly rounded.

[2017-01-17 13:10] shunshou opened #47 "Did you guys actually fix fixed point tester problems?"
I'm not really sure how any fixed point hardware could've possibly tested out correctly.

I think this tester behavior is the same as in Chisel2:

If you trace a poke, in the backend, the BigInt to the DUT is signed, whereas, if you trace a peek, from the backend, the BigInt is unsigned (although, depending on the data type, it should be interpretted as signed).

This is problematic because:

1) F

[2017-01-17 13:23] shunshou commented on #47
Point is, I can go around and fix this at a lower level, but that fundamentally might change the way you guys do your tests if you do correct for this somewhere that I'm not aware of...

[2017-01-17 13:27] shunshou commented on #47
Also, nearly equals is insufficient for fixed point expects. I'm working on a better solution, which is essentially porting over my old Chisel2 DSPTester to here.

[2017-01-17 14:09] shunshou opened #48 "Fixed point needs to be populated with features"
[code]

[2017-01-17 14:16] shunshou opened #49 "Do any of the features enabled by DSPContext actually work?"
Or is it just a shell for yet-to-be implemented stuff?

I can live with overflow always growing, but it'd be good to, by default, register values for fixed multiply/add, etc. and it seems that's not done. Of course, if I go and change it directly in the type class, existing designs will be affected.

Also, there's no option for 3 real multiplier complex multiplies?

This matters more for me becaus

[2017-01-17 19:30] stevobailey commented on #47
Pull request #37 adds "toBigIntUnsigned" and "toDoubleFromUnsigned". Perhaps not the best names, but they convert between FixedPoint and unsigned integers (or rather, unsigned representations of the bits in a signed FixedPoint number). For our stuff, we have AXI everywhere, which abstracts all input/output types as UInts. The way I've written it works for FixedPoint up to 32.W I believe, but not a

[2017-01-17 20:55] shunshou commented on #47
My old tester basically allowed you to set tolerances for fixed point and real expects. Even for reals, you're going to be off by a fudge factor that grows as the computations complexity increases. For fixed point expects, I had a tolerance in terms of "how many LSBs" can be wrong. Noise analysis (done @ the block level, and not part of ChiselDSP) just took the Double out and compared to the real

[2017-01-17 21:04] shunshou commented on #47
Oh, tho frankly speaking, this might be an easier change @ the chisel-testers level... I'm just concerned that a PR will take ages to resolve there... [granted, I've already forked it...]. @chick do you have any opinions?

Basically, I need patches for these things in ~day timeframes...

[2017-01-17 21:06] grebe commented on #47
@shunshou I'd rather see stuff wind up in the DspTester where possible rather than a VerboseDspTester. @chick would be better able to tell you about chisel-testers, although I don't think it would take much longer to get stuff looked at.

[2017-01-17 21:13] shunshou commented on #47
Ok well VerboseDspTester makes some amount of sense for my additional VerilogDumping features, and DspTester is kind of a hot mess right now [functionality is possibly correct, but things are a little all over the place...].

If you have some way to do a regression test, I can make changes in DspTester as long as your stuff doesn't break... I just posted an issue in chisel-testers.

[2017-01-17 21:23] grebe commented on #49
I don't think the fixedpoint typeclass looks at the dspcontext beyond picking between +& and +%.

I think the context should have an option for complex multiply style which the complex typeclass would consume.

[2017-01-17 21:39] shunshou commented on #49
Actually, this goes back to delay checking... but if you wanted to have registers after, say, every 2 muls, but not after every mul, then you wouldn't really be able to support it with DspContext, right? What would you suggest that I do? If I add support for registering, I could set default # multiplies to 0, so you guys don't have to change anything...

Anyways, I feel like I've been spending too

[2017-01-17 21:49] grebe commented on #49
I think doing something that adds a register every other multiply is dangerous to do via some global-ish object like a context. I think it's kind of hard to do in chisel- I don't think you want to add a register every other time you call the multiply function, I think you want to have a register between after every pair of multiplies in your circuit. That's hard for chisel to grock and requires yo

[2017-01-17 21:54] shunshou commented on #49
Ok, then I guess this is lower priority and I'll only add if/when I need it. (I get this feeling adding registers after n multiplies via annotations would be more useful, but that's a whole different beast...... and maybe it's better to just add parameterized Regs directly in my modules for now)... unless @azidar has some opinion...

[2017-01-19 17:41] chick commented on #36
Thought I would add a couple of ideas that came up in conversation yesterday with @grebe and @stevobailey

- Automagically set the binary point for fixed point created in this scenario to where it would pass the nearlyEquals test.  Basically match the epsilon defined there
- Based on a width, automatically place the binary point to the maximum value that still accommodates the MSB of the constant.

[2017-01-19 18:23] shunshou commented on #36
That doesn't work. For a single constant, that's fine, but where you're more likely to see constants is for a LUT. All elements in a LUT need to have the same binary point. If elements had with = 16 butt one element was 5000 and another was 2, automagic would result in two very different binary pts.

[2017-01-19 18:27] shunshou commented on #36
Also setting it to pass nearly equals doesn't make sense in the long run Bc you should be setting the epsilon at the nearly equals checking operation... When you're poking a real circuit, you need to build in epsilon margin Bc you aren't just doing a real to fixed conversion. All of the math in between can cause crazy amounts of numerical error that causes epsilon to need to be increased considera

[2017-01-20 12:50] shunshou opened #51 "Clean up copy pasta..."
Whenever someone has time... DSP tester really needs to be refactored.

[code]

Clearly, the output of dspPeek isn't a "bigInt"... Makes it hard to read the code.

Also, strangely enough, the code in `def peek(signal: FixedPoint):` is different from that in `case r: FixedPoint =>
        val bigInt = super.peek(r)
        Left(FixedPoint.toDouble(bigInt, r.binaryPoint.get))

They do the same thing

[2017-01-20 22:31] shunshou opened #53 "Hard "real" functions punched through the tester?"
Would this be a possibility? For stuff like atan, sin, cos, or fixedtodouble... Could you have the inputs/outputs at whatever module layer be either punched through to top level or be peek/pokable so that you could take say peek an atan input, process it in scala, and then poke it to the result? That gives the whole golden model with swapping fixed/float at intermediate block levels that would be

[2017-01-20 22:37] chick commented on #53
@shunshou this sounds pretty much what the scala implementation of the black boxes, BlackBoxFactory and allies, does. Take a look, maybe this is a documentation issue (I'll put this on dsp action items) or maybe a little bit of api work would make it better

[2017-01-20 22:39] shunshou commented on #53
@chick @grebe opinions for long term solutions?

[2017-01-20 22:40] shunshou commented on #53
Oops sorry didn't see. Wait is this a scala thing or a chisel thing? So you're saying then we don't need to rely on the fact that things aren't supported in verilator? Basically I still want to use verilator and pass it the correct results.

[2017-01-20 22:41] shunshou commented on #53
Any chance you'd be able to make a verilator compatible atan example? ;)

[2017-01-21 00:02] grebe commented on #53
I don't think anyone has done what you are describing with verilator. We have done that with the firrtl interpreter- the interpreter runs in the same jvm as the tester so it makes it easier to pass around blackbox models written in scala

[2017-01-21 00:09] chick commented on #53
@shunshou I think I just *actually* got what you are asking for here, and I don't think I know how to do this or whether it is practically possible.

[2017-01-21 00:12] shunshou commented on #53
Like theoretically, the bring out to top level thing should work (since, within the same clk cycle, you can peek and then poke based off of the peeked result). It's just a pain to bring out every custom function to top level that you'd then interact with via peek/poke...

[2017-01-21 14:28] shunshou opened #54 "Semantics for DspComplex: Imaginary?"
Why not be consistent w/ Breeze, etc. and have c.imag instead of c.imaginary?

[code]

[2017-01-21 15:10] shunshou commented on #53
Apparently you should be able to access internal signals in Verilator somehow? http://embecosm.com/appnotes/ean6/html/ch06s02.html
And same for VCS? I assume the PeekPokeTester would prevent you at least from poking internal signals for safety reasons?

[2017-01-22 02:25] chick commented on #54
I don't have a problem with it, I like it when parallel variables have the same length name.  Could be a quick hacking session project

[2017-01-23 10:51] shunshou opened #55 "Lits not being marked as lits + LUTs"
Basically, DspReal relies on a node inside a bundle that is declared as an output, and therefore, even if you're creating a constant that's of type DspReal, x.isLit() will return false. That's inconsistent with Data behavior in the rest of Chisel3.

The same goes for DspComplex.

Granted, even in Chisel3, if you have a Vec of Lits, it seems like Lits aren't registered as such.

Therefore, when I p

[2017-01-23 10:52] shunshou commented on #55
@chick @grebe do you have opinions on how to deal with this?

[2017-01-23 12:38] shunshou commented on #55
Ok, I fixed the problem for DspReal and DspComplex. Now their components show up as Lits if they're meant to be Lits.

For Vec, I guess, b/c it's supposed to be dynamically addressable, you wouldn't consider its constituents Lit's anymore. Which is weird b/c that logic is inconsistent with the Verilog that's printed out... Dynamically addressable stuff that's not considered a Lit should be impleme

[2017-01-23 20:14] grebe commented on #55
I believe this is related to ucb-bar/chisel3#418 and to an extent ucb-bar/chisel3#417. @ducky64 talked about it at the recent chisel meeting. It's not at all clear to me what the right thing to do is, especially with Vecs (which I think are inconsistent in dealing with literals). @ducky64, can you chime in?

[2017-01-23 20:16] ducky64 commented on #55
There's currently no resolution to those issues (and we didn't get around to discussing those at the last meeting). If you can come up with a consistent solution, that would be great. But I think it's a hard problem.

[2017-01-23 21:25] shunshou commented on #55
I think the best way to go about it is:
Vec of all Lits -> ROM (!)
Where the ROM output looks more like example 5.10 in http://www.csee.umbc.edu/%7Etinoosh/cmpe415/slides/Rom-LUT-verilog.pdf
If you construct it like that, then it matches with the behavior of doing lut(0).isLit reporting false and therefore having peek/poke tester crap out. :D

For the DspReal and DspComplex cases, I'd argue that t

[2017-01-24 00:30] grebe opened #56 "Using DspReal somewhere should generate warning in verilog"
We've talked about adding UInt -> DspReal functionality. We already have DspReal -> UInt. Having both makes it a lot easier for unsynthesizable code to get left in accidentally, especially by library code.

There should be some sort of mechanism that warns a user that unsynthesizeable code is being generated as well as a note about what code is adding it. Perhaps a comment at the top of the emitte

[2017-01-24 00:32] shunshou commented on #56
Technically should be DspReal -> Int and Int/Fixed -> DspReal**

[2017-01-24 00:56] ducky64 commented on #55
The main problem (as per the linked issues) is that it's not possible given the current structure to statically resolve whether a Data is a literal. cloneType makes this especially difficult since it returns this.type, whereas you want ULit.cloneType (for example) to return a UInt.

It would seem reasonable for a Vec of Lits to generate a ROM, perhaps as a FIRRTL pass? @azidar ?

Your link also gi

[2017-01-24 02:38] #17 closed

[2017-01-24 15:37] shunshou opened #58 "[Cleanup] DspTester"
Eventually, VerboseDspTester should prob supersede DspTester.

[2017-01-25 22:56] grebe commented on #29
@shunshou can we close this issue? #46 was merged

[2017-01-25 22:58] grebe commented on #34
Rocket dependencies have been moved to ucb-art/rocket-dsp-utils

[2017-01-25 22:58] #34 closed

[2017-01-25 23:06] #29 closed

[2017-01-27 06:06] shunshou opened #61 "Add UInt type class"
So I can use DspContext on +

[2017-01-27 06:07] shunshou opened #62 "Type classes should be more output line # optimized"
i.e. use a - b instead of a + (-b)

[2017-01-27 06:53] #61 closed

[2017-01-27 08:24] shunshou commented on #45
@chick can you explain your warning?

[code]

[2017-01-27 08:24] grebe commented on #45
floating point numbers may be larger than maxint

[2017-01-27 08:26] #62 closed

[2017-01-27 08:33] shunshou commented on #45
oh ok makes sense lol

[2017-01-28 03:12] shunshou opened #65 "Future DSP Numbers refactoring"
Currently, I don't think the way numbers is written is very logical. (File organization, etc.) -- there should be more apparent hierarchy, etc. It's really hard to figure out what's going on by looking at the code...

[2017-01-28 07:25] shunshou opened #66 "SInt from Double"
What should the convention be? Some places, I've seen x.round.toInt; other places I've seen x.toInt... I've been sticking to x.round.toInt, but this should be made consistent...

[2017-01-29 05:39] shunshou opened #68 "Not equals"
Is there a reason why it's =!=? As opposed to the Chisel standard =/= ?

Edit: Ok, I guess it's b/c it's a Spire macro thing?

[2017-01-30 08:05] #68 closed

[2017-02-01 05:47] shunshou commented on #35
@chick I got confused again b/c "setBinaryPoint" = set # of fractional bits... Wasn't sure if it trimmed to the right # of fractional bits, shifted the binary point around, etc. etc. It's pretty confusing...

[2017-02-01 23:39] chick commented on #22
@grebe is this still a decision that needs to be made

[2017-02-01 23:45] shunshou commented on #22
I think it should go into numbers. There's almost no reason to use numbers w/o implicits.

[2017-02-01 23:45] shunshou commented on #22
But if we're in agreement -- can I change it in my PR?

[2017-02-03 01:50] ducky64 commented on #21
@chick

Bump. It seems that there is now a way in Chisel to include Verilog with black boxes. Can this be implemented now?

[2017-02-07 05:43] shunshou opened #69 "Examples should go in a different repo"
dsptools is really cluttered... Stuff in my new TODO folder should eventually be moved out into a Utilities repo, and I think Examples should also be another repo (with better examples -- don't need "streamingautocorrelator"; need here's how we do context overflow for x,y,z app. More specific DSP functions should be their own separate Library repo.

[2017-02-07 05:44] #65 closed

[2017-02-07 05:44] shunshou commented on #66
everything is x.round.toInt now

[2017-02-07 05:44] #66 closed

[2017-02-07 05:44] #58 closed

[2017-02-07 05:44] #54 closed

[2017-02-07 05:45] #49 closed

[2017-02-07 05:46] #51 closed

[2017-02-07 05:46] #45 closed

[2017-02-07 05:47] #40 closed

[2017-02-07 05:47] #39 closed

[2017-02-07 05:47] #38 closed

[2017-02-07 05:48] #32 closed

[2017-02-07 05:48] shunshou commented on #21
confirmed this works.

[2017-02-07 05:48] #21 closed

[2017-02-07 05:50] #30 closed

[2017-02-07 05:50] #47 closed

[2017-02-07 05:50] #48 closed

[2017-02-16 22:09] shunshou opened #70 "Thorough DSP Tests"
Here's a bunch of scenarios I thought up that need to be tested. I hope i addressed these all in my code, but I could've missed some things... so it'd be nice if someone other than me tested. @chick

Sorry this might be confusing -- feel free to ask what I mean.

---

Test with Verilator + FirrtlInterpreter: mostly test w/ Verilator.

In general, don't need to test with too many bits, fractional b

[2017-02-16 22:41] chick commented on #70
@shunshou Thanks I work my way through these

[2017-02-28 20:42] chick commented on #70
@shunshou seems to me that UInt ring stuff should error on subtraction.  Firrtl Spec says that ```UInt - UInt => SInt``` but Ring says minus returns UInt.  So following, where io.a and io.b are UInts
[code]
gives
[code]
Seems like a better error up front, saying to cast to SInt would be more reasonable

[2017-02-28 20:45] shunshou commented on #70
This is maybe where @grebe states his opinion. Inside the Ring (so the user doesn't have to do it), we can do an explicit cast back to UInt. I think the types should frankly stay consistent w/ their input types (no surprises!).

[2017-02-28 20:54] chick commented on #70
@shunshou @grebe Something like this then?
[code]

[2017-02-28 21:21] shunshou commented on #70
I'm fine with that. @grebe?

[2017-02-28 22:49] chick commented on #70
@shunshou @grebe So with above logic subtracting 4-bit UInts from each other gives
[code]
Is that ok?

[2017-02-28 23:24] shunshou commented on #70
Oh for wrap it should be trimmed back to 4 bits. I thought that that was the whole point of -% ?

[2017-02-28 23:24] shunshou commented on #70
Is there no -% on UInt that returns a 4 bit UInt?

[2017-02-28 23:36] shunshou commented on #70
Also, re -&, what should be the behavior? That's one of those weird cases where, to always be mathematically correct, you should convert to an SInt... Or in that case, should you only make guarantees on outputs when they're >=0? @grebe ?

[2017-03-02 01:22] grebe commented on #70
Sorry, I fell very behind on my github mentions. I think we agreed to throw an exception for -&

[2017-03-02 18:55] chick opened #75 "Knowing when something is in a ring"
The following circuit ignores the DspContext directive.
[code]
The reason is that since the IO's are not declared with generators that have been given a *Ring* constraint the - that is used is the basic chisel one and not the one in UInt Ring.
As a result this circuit compiles, despite that subtract with overflow type *Grow* is not supported

[2017-03-02 18:56] chick commented on #75
@shunshou @grebe I don't know if this is a big problem but it tripped me up righting a test for unsupported subtraction

[2017-03-02 18:57] shunshou commented on #75
Actually -- that's confusing. If you have an import implicits, would it still not implicitly say that UInt is Ring? If you didn't import implicits, then I think that's correct... (not sure if I really understand implicits though...)

[2017-03-02 19:04] chick commented on #75
I did use
[code]

[2017-03-02 19:10] shunshou commented on #75
ok... I'm not sure if I like that behavior then :\ Definitely would've been a gotcha for me when writing control logic (i.e. control always UInt, but I still want some of the custom behaviors enabled with the typeclasses).

[2017-03-02 19:17] chick commented on #75
I don't like it either, I couldn't figure out at first why I wasn't getting exception I expected :P but I'm not sure what to do about it.

[2017-03-02 19:47] shunshou commented on #75
Could you, with the implicit stuff do some type conversion from UInt to UIntTypeClass?

[2017-03-03 00:39] chick commented on #70
@shunshou So what is
```  io.sAbsWrap := DspContext.withOverflowType(Wrap) { io.sIn.abs() }```
Supposed to do for an SInt(4.W) with value -8

[2017-03-03 00:45] shunshou commented on #70
I believe it'll be -8, right? Wrap has 0 guarantees on mathematical correctness, and is just intended to do whatever the standard bit operation does. You'd have a separate function that might pull it to 7 or something. Or maybe Wrap is a bad descriptor? @grebe, opinions?

[2017-03-03 00:50] chick commented on #70
Yes, -8 is what it returns.  So I guess it's working right

Chick Markley
Staff Programmer -- Aspire Lab
University of California, Berkeley
583-2 Soda Hall, Berkeley, CA 94720-1776
chick@berkeley.edu

On Thu, Mar 2, 2017 at 4:45 PM, Angie Wang <notifications@github.com> wrote:

[2017-03-03 22:59] chick opened #80 "The complex times a fixedpoint problem"
@stevobailey has identified a problem where parameterized types being passed to a module may result in operators being applied to two different types.  For example: a FixedPoint number being multiplied with a DspComplex[FixedPoint].  Type classes do not help us here because the operand are not of the same type.  @grebe created an implementation using additional implicits that allow the FixedPoint

[2017-03-07 00:58] grebe commented on #80
I did investigate this last week and ran into problems. I'll summarize the approaches I played around with.

**Zero width wire hack**
I thought about having `DspScalar[T<:Data:Real](real: T) extends DspComplex(real, zeroWidthWireOfTypeT)`, but the problem is that zero width wires don't behave exactly how you'd like them to. They behave like the identity through arithmetic operations. There are rea

[2017-03-07 20:10] jackkoenig commented on #80
So there is an open Chisel task (couldn't find a Github issue though), to be able to bulk connect child bundles to instances of their parent types. This is a little different though, since Bundles can only ever add fields to their parents, it is safer than what you're doing here. This example is especially weird because the child has *fewer* fields than the parent. I'm not sure if this "bulkConnec

[2017-03-09 21:20] chick commented on #75
@grebe @shunshou
I'm trying to test SignBit with the following
[code]
But the io.uIn.**signBit()** is a compile error.  What should I do to type signature to pick this up.

[2017-03-09 21:25] chick commented on #75
@shunshou also Numbers.md says the following, is that right

[2017-03-09 21:49] shunshou commented on #75
signBit is only on Data:RealBits, Data:IntegerBits. Ring doesn't have any notion of "bits". RealBits and IntegerBits should be all encompassing (of Ring, Order, etc.). Sorry! Numbers.md is a typo -- it should be 0 if a is zero or positive; 1 is a is negative. Good catch!

[2017-03-09 22:01] chick commented on #75
I'll change the spec with my next commit of more tests

[2017-03-09 22:02] chick commented on #75
So what is the right way to apply signBit to parameter that could be UInt SInt, FixedPoint or DspReal

[2017-03-09 22:05] chick commented on #75
@shunshou Numbers section on div2 what does
```UInt: Consistent with a >> n (i.e. rounds 1/2 to 0)```
mean.  How can UInt be 1/2

[2017-03-09 22:06] shunshou commented on #75
[code]

Basically, Paul was using Data:Real to allow you access to anything more than +, -, * [Kind of confusing with DspReal] so I added some bit-related things by having RealBits extend Real.

[2017-03-09 22:08] shunshou commented on #75
I'm just saying that 1 >> 1 would return 0. Math-y 1 >> 1 should be 1 / 2^(1) == 1/2 (if you added more bit precision), but we don't do that.

[2017-03-11 10:56] shunshou commented on #75
@chick have you figured out how to give typeclass functionality to UInts? :\

like val test = UInt(3.W)

and then do some typeclass only thing on test? Should it just be done with some implicit conversion to UIntTypeClass? It's very confusing...

[2017-03-12 04:13] shunshou commented on #75
Actually, this is a huge problem that renders all of the typeclass stuff useless for all of my control logic.

[2017-03-12 04:34] shunshou opened #82 "Seriously questioning whether typeclasses are the right way to do things"
Re-emphasizing Chick's problem with having

val a = UInt(3.W)
val b = 2.U * a - a

NOT using the "-" behavior defined by the typeclass.

---

*All* of my control logic in Chisel2 ChiselDSP used +, -, * op overrides for UInt, but this was done by explicitly using DSPUInt instead of UInt.

In order to write any control logic using the DspContext behavior for +, -, etc. I *NEED* to pass in gen's. Thi

[2017-03-12 04:58] shunshou commented on #82
@chick I think I mentioned this in my what-should-be-tested list but, see:

[code]

If you have val x = Uint(3.W)
and then val c = x.intPart

I assume the output is not something that has an associated TypeClass...

Which means that if you do a sub with c, DspContext won't work.

Is that correct? b/c if so, that's also extremely problematic.

[2017-03-12 05:14] shunshou commented on #82
Another question: If you use Chisel cloneType on a gen, does the output also lose the gen Typeclass context?

[2017-03-12 06:43] shunshou commented on #70
Reiterating what I said in the new issue -- test that a sequence of typeclass ops handles dspcontext correctly (i.e. does some op, b/c of the way it's implemented, make you lose the Real/Ring, etc. context).

[2017-03-12 09:29] shunshou commented on #82
Ok, after a long conversation w/ Stephen, I think I've been convinced that you should definitely not be overriding basic ops. If you want some fancyadd with new features, it should be called fancyadd to disambiguate things. This would prevent a lot of confusion.

With the old Chisel2 DSP stuff, I made DSPUInt out of necessity (due to it being a pain to extend Chisel stuff), but it also served as a

[2017-03-12 09:34] shunshou commented on #82
Also, cloneType is probably ok, but I think all my convertableFrom's will result in things that aren't Real/RealBits (without changing to intPart[B <: Data:RealBits](a: T): B or something. This is kind of a big problem, and we need to take inventory on possible other ops that fail to keep typeclass info.

[2017-03-12 09:54] shunshou commented on #82
Actually, if that's the case, maybe UInt shouldn't be something you can TypeClass and you should only allow it on Fixed and DspReal (as in the old ChiselDSP). These don't exist in "basic" Chisel (er I guess Fixed does... but it's still Dsp-specific), somaybe it's more "ok" to do non-standard things?

[2017-03-12 10:47] shunshou commented on #82
Sorry, I keep misunderstanding. Having thte output type of ConvertableFrom directly by SInt, etc. is fine, again under the premise that TypeClasses only add features, rather than overriding them. If you import dsptools.numbers.implicits, SInt will have access to stuff like intPart, div2, etc. It's just that it'll use the + operator defined in the class SInt, rather than the (contextual) + operator

[2017-03-13 02:21] chick commented on #75
I've fiddled with it a bit this weekend, I have not solved.  I'll work on it more tonight and tomorrow and hopefully by the end of hacking tomorrow, we can some up with something

[2017-03-13 02:23] chick commented on #75
I agree this is a big problem.

[2017-03-16 02:13] shunshou opened #85 "Context stuff with Reg's"
There should be a warning or something else that makes it more obvious that if you want to use anything except the normal clock to clock the ShiftRegisters, you need to explicitly change the corresponding dynamic variable.

[2017-03-20 19:18] shunshou opened #87 "Potential issue with Ring[T].zero for Complex"
Not really sure what's going on and I found a way around it -- but I was getting non-synthesizable node errors by directly assigning Complex to Ring[T].zero where T <: Data:RealBits.

Just making a note for the future.

[2017-03-22 02:42] shunshou opened #88 "BlackBoxFloat"
@chick I get these warnings:

[code]

Probably best to clean up?

[2017-03-22 16:31] chick commented on #88
@shunshou Shouldn't we be able to see these warning running tests in dsptools.  I tried changing all <= to =.  I didn't see error messages either way and tests passed just the same.  I tried running fft, but the git submodule update needed a password
```git@bwrcrepo.eecs.berkeley.edu's password:```
that I don't think I have

[2017-03-23 08:43] shunshou commented on #88
A couple of things: Seems like Verilator has a major bug, so I'm trying to switch over to VCS. VCS doesn't like the real blackbox stuff unless you add the -sverilog flag. I'll be making a PR at chisel-testers. I'm going to push the <= to = change to ring-refactor. Also, VCS didn't like out w/o reg for some ops. Still debugging and just feeling very sad and overwhelmed.

[2017-03-24 08:18] shunshou opened #89 "Complex + Mux"
This shows up... not sure what's going on:

[code]

[2017-03-24 16:16] chick commented on #89
@shunshou That sounds like a recent chisel pr #450 that checks that both sides of a Mux have equivalent types. Do you have any idea what is triggering it in the source.
@ducky do you think there might be a missed edge case with the new ```typeEquivalent```.

[2017-03-24 18:25] shunshou commented on #89
@chick So one side of the Mux is a Lit; another isn't. It's driving me absolutely crazy. I keep having to reassign constants to wires to get things to work. Other than that, the error message is 0 helpful.

[2017-03-24 20:38] shunshou opened #90 "Does fromDoubleWithFixedWidth work?"
@chick See https://github.com/ucb-bar/chisel3/issues/558
I'm using fromDoubleWithFixedWidth, so if it's getting width = 26 instead of width = 28 for the constants, it implies this thing didn't work... I have no idea why... (unless Chisel also doesn't width pad in reality... despite supporting the construct).

Can you please look into this for me?

I'm just running into so many problems that I can'

[2017-03-24 20:42] chick commented on #90
@shunshou I will look at this right now

[2017-03-27 08:00] shunshou opened #91 "DspTesterUtilities.toBigIntUnsigned"
I think it's wrong. Not sure if anyone uses it. I'll fix it after tapeout...

[2017-03-28 07:23] chick commented on #90
@shunshou You were right, this was the source of the Borked problem.  I just got distracted by the OneHotMux stuff.  There may still be issues there but fixing this seems to have fixed the Borked example.  I have submitted a PR ucb-bar/chisel3#564.

[2017-03-28 13:47] shunshou commented on #90
@chick this is one source. Theoretically, I shouldn't have needed to specify width at all and Mux1H should've figured it out. I tried the WithFixedWidth thing in the hopes that it would fix the issue, but it didn't... hence the discovery that this was an issue.

Thanks for looking into this!

[2017-03-29 18:24] shunshou commented on #87
@chick

val zero = Ring[DspComplex[T]].zero

Gives

[code]

When I mux the zero in.

[2017-03-30 20:26] shunshou opened #92 "DspReal usage"
Somewhat on the lines of what @stevobailey and @grebe did -- If we're using Verilator or VCS as the main mode of testing with Dsp-y things, it might make sense to have all DspReal nodes be 1 bit ports (since there's no notion of signed/unsigned there). The nodes should then be (via annotation or otherwise w/ the IfDef stuff) typed as "real" or not for simulation vs. synthesis.

I don't think it's

[2017-03-30 23:50] stevobailey commented on #92
For those playing the Verilog game at home, this makes DspReal basically the same as Verilog real. As before, it's not synthesizeable, but it is testable in VCS/NCSim.

Also, AnalogType has somewhat to do with directionality, but I think of it more as how the tools handle the signal. AnalogTypes should never be buffered or modified.

[2017-04-02 08:00] shunshou opened #93 "BlackBoxFloat Ln and Log10"
VCS is super unhappy with them (not sure how you can constrain the input to be >0 b/c it keeps saying it's invalid for in < 0)... I've been commenting them out every time I run tests, which kind of sucks. I recall @ducky64 had a PR that pulled ops out (so you wouldn't be importing all of the Real SystemVerilog ops if you only used one or two). We should consider merging ASAP.

[2017-04-02 19:36] shunshou commented on #92
@chick Would this be possible to do? Add some kind of DspOption (annotation) that turns all DspReal's into 1 wire UInts (to Chisel), and in the Verilog emitter, (another option) output as in/out real port_name?

We need 1 wire for synthesis and we need 1 wire + "real" for VCS simulation using 1 wire (rather than 64). In doing so, it'd also be necessary to feed in a different BlackBoxFloat that doe

[2017-04-03 16:07] chick commented on #92
@shunshou It sounds do-able, I'm looking into it.

[2017-04-05 16:42] chick commented on #92
@shunshou I am going to say yes, I think this is possible and I will work on it right away.  Can you give me any example code with some identifying comments on what things this new transform should be applied to.  An example of  the verilog output desired would be helpful too

[2017-04-05 17:57] grebe commented on #92
Perhaps the type in the DspReal blackboxes should just be Analog. Here is what we did to firrtl to make Analog work with `real` in simulation (warning: it's a hack).

I added a var that controlled verilog emission for firrtl analog types [here](https://github.com/grebe/firrtl/commit/34bef6677c03131bf59474ba0fe406c42493c353). This should be done in a more clean way- maybe we should pull in @azidar

[2017-04-05 18:28] shunshou commented on #92
I'm pretty sure, from our discussion last night, that you just need the line from the Driver that we looked at and it should work. I think most of the Generator stuff should be overhauled though... because Firrtl is a lot friendlier than when it was made.

[2017-04-05 18:48] chick commented on #92
@shunshou what line from the Driver, and which Generator are you referring to.

[2017-04-06 02:52] shunshou commented on #92
https://github.com/ucb-bar/chisel3/blob/master/src/main/scala/chisel3/Driver.scala#L151 (unrelated to DspReal)

[2017-04-06 21:57] chick commented on #92
@grebe @shunshou I have a branch of firrtl that ports your hack and cleans it up a little.  I don't think I quite see how the ```ifdef SYNTHESIS``` works, it looks to me like all that is replaced is the type name so If I do that substitution.  When I test with this I get
[code]
becomes
[code]
I am probably missing something here.  I also am not that clear about whether this solves @shunshou 's urg

[2017-04-06 22:15] shunshou commented on #92
It doesn't. I don't want to use Analog, because I can't use the chisel
testers to  simulate. I want to conditionally adapt DSPReal and modify the
testers to allow you to feed in real numbers, not their 64 bit
representations.

On Thursday, April 6, 2017, Chick Markley <notifications@github.com> wrote:

[2017-04-26 17:09] shunshou opened #94 "Annotate Fixedpoint binary points in Verilog"
(Is there some way to annotate binary points in Verilog and have your simulator of choice automatically pick it up?)

[2017-09-07 03:57] grebe commented on #43
Fixed by #99

[2017-09-07 03:57] #43 closed

[2017-09-07 03:59] grebe commented on #53
@shunshou would you say this issue is resolved? I think we found a working solution, although not as complete as what you originally envisioned.

[2017-09-07 04:03] shunshou commented on #53
I'm satisfied.

[2017-09-07 04:03] #53 closed

[2017-09-07 04:43] grebe commented on #22
We should revisit this

[2017-09-07 04:46] grebe commented on #75
I think this is resolved by our decision that operations should have their normal behavior (eg typeclass's + === UInt +) and the addition of context_+. I think this issue can be closed, although we should revisit how happy we are with the context_<operator> approach.

[2017-09-07 04:49] shunshou commented on #75
definitely dislike having context_, but cleanly separating out somehow is important.

[2017-09-07 04:50] shunshou commented on #22
As long as typeclass added stuff is separate (doesn't affect expectations from base Chisel), you should just do it, I think.

[2017-09-18 21:21] #93 closed

[2017-09-18 21:24] grebe opened #105 "Truncate and round should have context_* flavors"
Brought up with issue PR #102

[2017-09-18 21:24] #22 closed

[2017-10-08 18:57] shunshou opened #111 "Can someone help me understand what's wrong?"
https://github.com/ucb-bar/dsptools/blob/673888fedcbd3043773e1d5077d39a37fd2d4afc/src/test/scala/dsptools/VerboseDspTesterSpec/SimpleTBwGenTypeOption.scala#L162

I believe this test compiled, correct?

Which would imply that something like:

`val test = -18.3.F(10.BP)` should also compile, right?

I'm trying to test ranges, and am running into problems with Chisel being incorrect.

Consider: https

[2017-10-09 04:13] shunshou commented on #111
Update: On further inspection, it looks like the intervals branch diverged from master in some functionally incorrect way... :o at least wrt the implementation of FPLit.

[2017-10-09 04:53] ucbjrl commented on #111
I wonder if this is due to the change I made to get literals to work as
literals. Let's investigate tomorrow.

On Sun, Oct 8, 2017 at 9:13 PM, Angie Wang <notifications@github.com> wrote:

[2017-10-09 04:57] shunshou commented on #111
It wasn't. Paul and I investigated, and it looks like it comes from a change Chick made around ~Feb. when he first attempted to add in interval support. Master is correct; the intervals branch isn't.

[2017-10-09 17:50] chick commented on #111
I will look into this today.  I wonder if these branches are so stale we should first try to merge current masters, I'm not looking forward to that but it has to be done eventually anyway.  What do you think about that @azidar?

[2017-10-09 19:21] shunshou commented on #111
Would be good to figure out how long the merges will take, too. As an end user that wants to maybe get a paper out in the interim, the biggest help for me would be to probably just back-port some of the interpreter analysis stuff to the branch that I'm on (and I don't expect that to be too difficult to do?), but that's definitely not the "right" way to do things... haha... :(

[2017-10-09 21:45] chick opened #112 "PaperProject Details"
Branches

| project | branch |
| ------- | ------- |
| firrtl | intervals |
| chisel3 | interval-type-2 |
| firrtl-interpreter | instrumenting-sizes |

[2017-10-10 03:50] shunshou commented on #112
Branches I'm using (based off the above):

Branches

| project | branch |
| ------- | ------- |
| firrtl | intervals-oct |
| chisel3 | interval-oct |
| firrtl-interpreter | ??? |

[2017-10-11 09:05] shunshou commented on #112
@chick can you make sure ops like the ones in https://github.com/ucb-bar/dsptools/tree/master/src/main/scala/dsptools/numbers are also supported? i.e. <<, >> not implemented:

scala.NotImplementedError: an implementation is missing
[info]   at scala.Predef$.$qmark$qmark$qmark(Predef.scala:225)
[info]   at chisel3.internal.firrtl.IntervalRange.$less$less(IR.scala:359)

[2017-10-11 16:21] chick commented on #112
Working on it.  Is there general agreement on what it means.  I would guess for shift that:
- Shifts the point of Closed and Open and BinaryPoint by the shift amount
- UnknownBounds and BinaryPoint remain unchanged.

And what about merge.  Not mentioned in [Wikipedia Intervals](en.wikipedia.org/wiki/Interval_(mathematics))
My instinct would be:
- increase the bounds of the interval with the smalle

[2017-10-11 16:36] shunshou commented on #112
So two things:

1) We need to look at how Adam's firrtl code does this -- probably would be useful to have Adam document user-facing features; or that might already be in his tests.

2) For dsptools:

a >> n
Arithmetic shift right where n is either Int or UInt
Note: precision loss will result since the decimal point location is not adjusted

AND

a.div2(n)
a/2^n
UInt: Consistent with a >> n (i.e.

[2017-10-11 16:36] shunshou commented on #112
Also, fyi, I pushed more changes to aforementioned branches to fix some bugs.

[2017-10-11 22:22] chick commented on #112
I added the unimplemented shift functions IntervalRange and Interval.  I need to add more tests but I wanted to get the implementations out there first.  I left merge() in as unimplemented.  Not sure what it is intended for.

[2017-10-11 22:24] chick commented on #112
And yes, I believe @azidar thought the naive approach of anything not simple with intervals should be deferred to Firrtl as best for now.

[2017-10-11 22:29] shunshou commented on #112
Ok then beyond that, the ops that should take precedence are clip, wrap, etc. (overflow behavior and truncation/round, etc.). After that, I think we're good for being able to try some more complicated legitimate hardware...

I will also add some tests...

[2017-10-11 22:40] shunshou commented on #112
Here are the ops Adam checked in IntervalMathSpec:

+
*
-

<< int
<< uint

[]()
arith assign?
cat

----

Is cat something built into the type in Chisel or an external helper? o_O

[2017-10-11 22:53] shunshou commented on #112
And as far as the rest of Adam's non-math tests, really it's:

Cannot defined unknown BP for interval (Chisel restriction) -- just my note

wrap
clip

----

Is there a setBinaryPoint equivalent for Interval? That might be more necessary for stuff like rounding ops.

[2017-10-12 04:38] grebe commented on #112
I can't find a reference to merge in our doc. @chick, your instinct matches mine, but I'm still trying to think of why it would be useful.

[2017-10-12 22:25] chick commented on #112
@shunshou @azidar are there any explicit docs on clip, wrap, etc.  I don't see any implementation in firrtl on branch interval-oct, is there some other terms involved.

[2017-10-12 22:50] shunshou commented on #112
I don't think this is really the info you need, but in summary: https://docs.google.com/document/d/1UsaDir3rUp8CzKU4QHoPNd3XdBDh8tF99AyC0O02CJU/edit

Probably the info would be the kind that Adam will hopefully have time to write next week, but until he gets to that, your best bet would be to backtrack from the tests (which hopefully fully encapsulate what he wants):

https://github.com/freechipsp

[2017-10-16 05:57] chick commented on #112
@shunshou
I've pushed naive wrap and clip to chisel3 intervals-oct, they don't really figure anything out right now. just make things Unknown so firrtl can figure it all out.  I need to talk to Adam to proceed on this.

Also I did not see a problem with running the interpreter's instrumenting-sizes branch with the intervals-oct branches of firrtl and chisel3, if you have an example can you pass it

[2017-10-16 06:07] shunshou commented on #112
Yeah, so Adam's super busy this week--he asked to reschedule our meeting (will send out an email shortly), but if he has a few minutes to meet with you tomorrow to discuss next steps, that'd be great. The one thing I'd like to see is being able to do clip based off of some other signal's range * # of loops, as an example, to handle: multiply by a constant and accumulate. I'll test firrtl-interpret

[2017-10-16 06:45] shunshou commented on #112
Also, are you on the same branch of chisel-testers/dsptools as I am?
Note: the last working verison of firrtl-interpreter is 5dd2f5b
When I switch over to firrtl-interpreter/instrumenting-sizes, and I try to re-publish-local chisel-testers with hash cb82340, I get:

[code]
If you are on a better version of chisel-testers (and corresponding dsptools), please let me know!

[2017-10-17 03:49] chick commented on #112
@azidar all the wrap cases I did made sense except for
[code]
Any ideas

[2017-10-17 03:58] shunshou commented on #112
Before you delve too deep into this, as a basic use case, I just want to see that
val base = Wire(Interval(range"[0, 9]"))
val out = base.wrap(range"[0,7]")
base := 9.I
--> out == 1.I without any mux logic. That's the most common use-case for wrap.

[2017-10-17 04:11] chick commented on #112
@shunshou I'll need to change chisel-testers to fix its publishLocal problems with the instrumenting-sizes branch of firrtl-interpreter.  Can there be a intervals-oct branch of chisel-testers that I can make my changes in. I'm not sure what to do with cb82340

[2017-10-17 04:13] shunshou commented on #112
yea go for it--make a branch and i'll point my stuff to it. thanks!! :D

[2017-10-17 04:44] chick commented on #112
@shunshou pushed my latest *wrap* stuff to intervals-oct.  This includes ```wrap(that: IntervalRange)``` which lets you say ```myInterval.wrap(range"[-4, 11)")``` if you are inclined to say such things
Will try to do clip next

[2017-10-17 04:47] chick commented on #112
@shunshou just pushed intervals-oct branch with interpreter fixes for instrumenting-sizes branch.
It's based on the cb82340 (I hope that's ok) this builds for me, hope it works for you

[2017-10-17 04:59] shunshou commented on #112
Hmm... I get

[code]

[2017-10-17 05:16] chick commented on #112
@shunshou just pushed clip (saturate) operator for intervals
BTW Aaaargh, on weird errors with testers, I'll try to reproduce

[2017-10-17 05:21] shunshou commented on #112
Thx! Finally have a ~10 pg outline of the ~6 pg paper. :P Will look into this after I'm done drafing background + intro hopefully...

[2017-10-17 06:15] chick commented on #112
Hmnm, I am building with
(cd firrtl ; git status | grep 'On branch')
On branch intervals-oct
(cd firrtl-interpreter ; git status | grep 'On branch')
On branch instrumenting-sizes
(cd chisel3 ; git status | grep 'On branch')
On branch intervals-oct
(cd chisel-testers ; git status | grep 'On branch')
On branch intervals-oct
(cd dsptools ; git status | grep 'On branch')
On branch master

[2017-10-18 18:05] shunshou commented on #112
@chick, I'm still getting:

[code]

with the branches you've pointed me to :(

[2017-10-18 19:09] chick commented on #112
Still trying to get this
Maybe now (had to push to interpreter and testers)
firrtl
3abda10e5e82b481f58c73adf26c48678e496574
firrtl-interpreter
4f0c623ad03b1b7f5c484aa99575ea324d8cdfbd
chisel3
14cc99a8880ba2ee735f888cec70c7cc99235a4b
chisel-testers
496bd86063b9a47a0bb13264068efdf94bd98a66

[2017-10-18 19:47] chick commented on #112
@shunshou What's the branch of dsptools

[2017-10-18 19:50] shunshou commented on #112
I assumed you were on master, so I switched to that (but that's probably just not compatible w/ old stuff...).

[2017-10-18 23:07] shunshou commented on #112
Follow up @chick @grebe

https://github.com/ucb-art/Chisel3DSPDependencies/tree/ranges (range branch!) points to stuff that should hopefully work now:

firrtl: intervals-oct
chisel3: intervals-oct
firrtl-interpreter: instrumenting-sizes
chisel-testers: intervals-oct
dsptools: intervals-oct

[2017-10-19 00:03] shunshou commented on #112
@chick bpsl, bpsr, bpset should also be implemented in chisel, if it hasn't already.

[2017-10-19 19:13] chick commented on #112
I have just pushed to intervals-oct new methods on Interval
.setBinaryPoint(that: Int)
.shiftLeftBinaryPoint(that: Int)
.shiftRightBinaryPoint(that: Int)
I am not sure they are implemented exactly right, I need to check with Adam, but you can start to try them

[2017-10-19 19:39] shunshou commented on #112
Cool. I'm still in the process of debugging some of the shifts... Adam and I will be having a working meeting today ~1 to maybe up to 3ish? We should just clean out these details and make basic tests for everything while people are here... :o

[2017-10-20 02:42] chick commented on #112
I have started a documentation page on chisel3 wiki for [Intervals](/freechipsproject/chisel3/wiki/Interval-Type-in-Chisel-Experimental)

[2017-10-20 02:52] shunshou commented on #112
Ok, I'm still debugging some intermediate shr weirdness -- doesn't seem like I'm getting the right answer when I'm shifting by less than the width either :\, but need to finish up slides for another conference tonight. Thanks for starting the intervals documentation :D

[2017-10-21 06:49] shunshou commented on #112
@chick what implications are there if chisel range inference is wrong? (and firrtl is right?)

[2017-10-22 02:20] chick commented on #112
It would imply to me that things are broken.  In general, @azidar and I have tried to match the firrtl behavior, and in many cases actually use the firrtl code generate answers when we can.  I think there a number of cases where chisel might defer to firrtl, by just leaving things *unknown* so firrtl will figure it out, but it shouldn't contradict it

[2017-10-22 02:29] shunshou commented on #112
OK. I went ahead and double checked stuff and made things unknown wherever I felt there was a contradiction... Still not quite at the point of passing enough of my own tests, but getting closer.

[2017-10-22 09:51] shunshou commented on #112
@chick -- looks like x.clip(uint/sint) and x.wrap(uint/sint) don't work. Namely, there's no firrtl PrimOp that operates on 1 Interval and 1 UInt/SInt type... I thought I could handle this at the Chisel level by first doing asInterval on the UInt -- when the width is known, everything's good... unfortunately, when the width is unknown, I don't think there's any mechanism to pass the unknown (?) thr

[2017-10-22 20:38] chick commented on #112
Hmm, it looks to me like ```x.wrap(sint)``` might be a problem, but the
rest of the family convert the argument to an interval before passing down to firrtl.
But clearly I need to expand the tests to include use of the SInt and UInt versions of
clip and wrap, also to add tests for all these with some arguments with unknown ranges.  Sorry, but it's going to be later tonight before I can get to it.

[2017-10-22 21:08] shunshou commented on #112
Hm ok I made some changes assuming known UInt and SInt. I'm making my own
tests for them locally (basically assuming my model is intended behavior).
If you can generalize to handle unknown ranges, that'd be great. Also,
looks like some of my changes broke some of your tests. I made some of them
based off of my understanding of how functions should operate (from various
discussions), so we should m

[2017-10-23 03:10] shunshou commented on #112
FYI--when adding tests, it's important to test stuff that's not just integers. Running into annoying binary point alignment problems, etc.

[2017-10-23 23:05] shunshou commented on #112
@chick to save me some time of trying to figure this out -- can you make a toy example for how firrtl interpreter stuff works with the driver in DspTools? (Likely stuff will need modification?)

[2017-10-24 06:40] chick commented on #112
Almost got it working, but found some edge case problems :-(.

[2017-10-24 06:44] shunshou commented on #112
no worries. i'm still trying to get accumulate working. :\ slow process...

[2017-10-24 08:09] shunshou commented on #112
Re: Interpreter --

I think we agreed on trimming widths based on some n sigma criteria or min/max. The other thing that's useful is that, if we're trimming based off of sigma, it should be trim and optionally clip to maximum.

[2017-10-25 18:18] chick commented on #112
The toy example works with my latest push/merges to
firrtl-interpreter and dsptools on intervals-oct branches
See InstrumentingSpec for how.
Time to start working on feedback system

[2017-10-25 18:34] shunshou commented on #112
Yay! OK. I will try to run the interpreter on my interval arithmetic testbench and get back to you.

[2017-10-25 21:32] chick opened #114 "Changing Widths from Execution Instrumentation"
This project aims to apply information found using the firrtl interpreter's run-time instrumentation of values passing through a node.

- Run a firrtl circuit with instrumentation turned on
- This will produce a CSV file of all values passed through every node
- Parse this CSV file and find wires who's range should be changed (presumably made smaller)
- Generate annotations that reflect these chan

[2017-10-25 21:40] chick commented on #114
@azidar I am a little worried about ports and nodes in sub-modules.  My worries specifically:
- I am likely to find different changes for the same field when it appears in different instantiations of sub-modules.
  - The annotations Named does not have the specificity to handle fields in specific instances
  - I'll try to ignore this as long as I can but I am not sure how to handle it.
  - Or mayb

[2017-10-25 21:57] shunshou commented on #114
One other thing I've thought about -- it'd be good if you could optimize a particular subcircuit and print out some kind of annotation list so that the circuit doesn't need to be reoptimized in a larger circuit. This is all food for thought and doesn't need to be implemented now. For demonstration purposes, running with a single module is good enough... But for long-term viability, it's important

[2017-10-25 22:43] seldridge commented on #114
You are correct with `target: Named` in that this is going to have module collisions in the circuit. My understanding is that the correct approach is to then use the `value: String` attribute to store whatever else you need, i.e., the the full instance path. The tool can then emit annotations that cram this metadata into the `value` attribute. For the final pass, you'd then need to differentiate b

[2017-10-25 23:12] shunshou commented on #114
@chick I think this is instructive. I've updated the ranges branch of Chisel3DSPDependencies to all of the latest branches I'm using. If you get the chance, you should try to pull from FFTGen and run:

sbt "test-only dsptools.intervals.tests.IAArithSpec"

As an example:

[code]

Simple range inference seems to expect a 13-wide SInt, but then tests (exhaustive inputs, unless I screwed up) indicate

[2017-10-25 23:24] shunshou commented on #114
@chick @azidar -- this is actually SUPER useful to sanity check firrtl range inference stuff.
ti = a * b

-->
a -2.96875, 2.28125 (bp = 5)
b 5, 8 (bp = 0)
t1 = -23.75, 18.25
Shift up to get SInt representation i.e. t1 * (1 << 5)
-760, 584
Which matches firrtl interpreter -- I don't understand why the type is reported as SInt<13> then :(... The width propagation stuff looked right.

[2017-10-25 23:37] shunshou commented on #114
@azidar Here's my CHIRRTL. If you can make sense of why the constraint solver expects t1 to be 13 bits rather than 11, that'd be great! t1, t2 constraints should definitely match firrtl-interpreter results. t3, t4 shouldn't since there's some cancellation...  I'll follow up with the range/width I expect from every intermediate node, given Interval analysis.

[code]

[2017-10-26 17:19] chick commented on #114
Good news is my BitReducer caught it:
[code]

[2017-10-26 18:01] chick commented on #114
Current intervals-oct now has new tools
- BitReducer: parses the output of the interpreter's instrumentation and creates width changing annotations
- ChangeWidthTransform: applies aforementioned annotations to a low firrtl file

There's more to do. Not sure how to prioritize.
- Make better bit reduction calculations
  - based min, max on some sigma based tolerance 2σ, 3σ, etc.
- make some hacky to

[2017-10-27 04:17] shunshou commented on #114
Sorry, was out today. :x

So currently you

1) Annotate which widths need to be shrunk from interpreter results.
2) Run the ChangeWidthTransform to actually shrink the widths [right now based on min/max?]

You're asking if
1) You should prioritize some kind of switch between min/max and sigma + clipping tolerance?
2) I don't understand what part of the "hacky" toolchain doesn't already exist? You'

[2017-10-27 20:59] shunshou commented on #114
@chick I got rid of `import com.sun.tools.javac.resources.compiler`. Intellij said it wasn't used, and I can't find a tools.jar :(

[2017-10-28 02:33] shunshou commented on #112
@azidar What do you expect should happen in these cases?

1) Directly assign a <= b where a has known range that's smaller than b. Should that be an error without explicit b.wrap(a), b.clip(a), or b.assignInterval(a)? Also, re: back-propagation of ranges, if b has some smaller bound and b <= x - y, I assume you can't make any assumptions about the ranges of x and y. However, if you've constrained

[2017-10-28 02:35] chick commented on #114
Sorry, I was out most of today too.  I think IntelliJ auto generated that import for me at some point.
Per your previous comment.
I was concerned that to get this all to work, there would have to be some manual working or scripting to get these pieces all to play together.  I'm not sure without more coding that the width adjusted firrtl file could be re-run with the DspTester.
But if a sigma clipp

[2017-10-28 03:16] shunshou commented on #114
Yeah no worries. I made like 2 comments on your commits? From looking at them, I understand that you have all of the pieces but haven't actually done the whole width adjusted firrtl + DspTester bit? Maybe that's the highest priority. Sigma clipper is cute and useful, but that can wait... Running into some other problems with interval assumptions, so thinking about what would be best to have...

[2017-10-28 03:44] chick commented on #114
Yes, I will hack out something that will do following:

1. Run interpreter with instrumentation flags
1. Run BitReducer saving annotations
1. Run ChangeWidthTransfrom using annotations from BitReducer
1. Run either verilog or interpreter using modified low Firrtl file.

Sound right?  This will just be some big ugly hacked version of Dsptools Driver and iotesters Driver.

[2017-10-28 03:53] shunshou commented on #114
Yeah, ok... well, hacked plumbing is better than no plumbing. I hand-calculated optimal bitwidths for my circuit and am double checking that ranges actually generated the right widths (not accounting for stuff like (b * a) - a having some cancellations -- which only interpreter can detect).

[2017-10-28 04:39] #111 closed

[2017-10-28 17:56] shunshou commented on #112
@chick @azidar @grebe fyi firrtl is on intervals-oct2 now.

[2017-10-29 19:50] shunshou commented on #112
@chick @grebe -- Intervals type classes should hopefully be in a workable state, so can actually *really* start using them. QOR for the firrtl output looks like what I calculated + the firrtl-interpreter sims got the right mins + maxes for the one test I paid closest attention to. I'm going to port over my testing infrastructure from my local repo to dsptools so hopefully it'll be easier for you t

[2017-10-30 01:22] grebe opened #116 "Make travis use published versions of dependencies"

[2017-10-30 23:58] chick commented on #114
@shunshou I just pushed a working example in
[dsptools/intervals/IAArith.scala](dsptools/src/test/scala/dsptools/intervals/IAArith.scala)
It seems to work as I would expect, I believe module de-duplication is broken.

[2017-10-31 00:01] shunshou commented on #114
I assume that's a firrtl bug? What does that mean? I'm having problems, for example, getting MatMul to work with DspReal. Everything looks OK, but the data isn't getting fed in. Probably something missing on my end (with my custom TestModule), but I have no idea what...

[2017-10-31 00:05] chick commented on #114
It's my bug (or missing feature). I should have been more specific, I meant that if the bit reducer finds signals who's width should change but not by the same amount and that are the same signal but in different instances of the same module, the ChangeWidth transform will not work right.
It does not sound related to what you are experiencing

[2017-11-01 16:54] shunshou commented on #114
@chick do you think you can add a quick n sigma (or 3 sigma for now) thing to the resizer? Basically, I just realized, to be exhaustive for even a 4x4 matrix multiply, you'd need something like 8 ^ 16 (assuming 8 bit input) inputs, so I think the "best bet" is to sample some 1000 inputs or so and 3sigma the bitwidths...

[2017-11-01 17:32] chick commented on #114
@shunshou Sure, I need to finish something up right now.  Should have it in an hour or two.

[2017-11-01 17:38] shunshou commented on #114
:) Still debugging DspReal bit so whenever is fine.

[2017-11-01 19:58] chick commented on #114
@shunshou What is the proscribed behavior if you say reduce to 3σ and that number is
greater than the largest number seen.  My inclination is to take min(mean + 3σ, maxSeen)
but I am not sure.  Thoughts? (same question for SInt minima)

[2017-11-01 20:11] shunshou commented on #114
That's where you would replace a with a.clip(3sigma)... although I just realized--since you're acting on SInts now, you'd have to replicate what was done in RemoveIntervals on the SInts (just a bunch of muxes). Would need to think about how Interpreter ranges should translate to muxes on one or either side (side = min or max).

[2017-11-01 20:48] chick commented on #114
I have to leave on an errand, just pushed simple version, did not see your last comment in time to integrate.  I'm not sure how it applies to what I am doing.  Backson

[2017-11-02 02:50] shunshou commented on #114
So rather than taking min(mean + 3sigma, maxSeen), you'd want to start at the inputs and go to the outputs, replacing the wider bitwidth nodes i.e. say a = UInt<30> with narrower widths i.e. say a_3sigma = a.clip(interval_range_equivalent_to_8-bit) assuming a_3sigma is UInt<8>, which is 3 sigma out.

[2017-11-02 03:03] chick commented on #114
hmm, can i do this all at one time or do I have to identify the earliest nodes in the dependency wrap their assignment with a clip of the determined size, ( I think by low Firrtl there can only be one (like highlander)).  Seems like I might want to re-run the instrumentation/bit-reduction again, seems likely the clipping could change the σ of its dependents.

[2017-11-02 03:28] shunshou commented on #114
So if you don't start at the beginning, the width might actually propagate and get unnecessarily large in previous nodes before it's trimmed at a given node. Maybe the clipping behavior is better discussed in a meeting w/ Paul and co... Let's just call that a stretch goal...

[2017-11-05 20:23] shunshou commented on #114
Dumb question: What happens if 3sigma is further out than the calculate range inference?

[2017-11-05 21:30] chick commented on #114
Currrently I take the min of the 3σ max and the maxSeen. and vice versa on the low.
But I think you are right we should review the sigma option on Monday

[2017-11-06 20:26] shunshou commented on #114
How many iterations are needed to converge? Also, in the end, I need an output Verilog file... After it thinks its done, it should rerun tests with Verilator + generate Verilog.

[2017-11-06 23:52] shunshou commented on #114
@chick check out sbt "test-only dsptools.toys.DCTMatMulSpec"
I get errors like
[code]
When using the reduction pass.

(It's in the MatrixOps.scala file)

Other thing:

After bitwidth reduction, generate Verilog + run through Verilator.
Allow user option to just increase bitwidth by say like 2 bits over min/max seen i.e. guard bits.

[2017-11-07 19:01] chick commented on #114
I'm struggling with getting the verilog to run after the firrtl's been bit reduced.
I have a local version with your fudge factor bits.
I think I understand the error you got.  Downstream from signals I have changed there are Bit selection operators that are not adjusted.
I hope to talk to Adam at BRWC to decide what I can do about this.

[2017-11-07 22:20] chick commented on #114
Based on discussion with @azidar today.
Changing width pass must be more complex.  Looks like it should

1. Infer Types
2. *Nodes* -> *Wires*
3. Trim widths
4. Resolve *Bits* with extending MSB
5. Optimize reconfigured bits

[2017-11-09 21:18] shunshou commented on #114
@chick any luck? :o

[2017-11-09 23:58] chick commented on #114
Just pushed a new version that seem to run ok with you DCT example.  There seems to be some *magic* operating.  When I added a couple of passes that Adam recommended everything seemed to start working, even though there is one more pass that I am supposed to implement.

Also, I had to disable the updating of top level IO's because i could not get it to run with verilator when i did that.  It may y

[2017-11-10 00:00] shunshou commented on #114
Cool. Yeah, the TestModule IO's don't need to be updated.

[2017-11-11 23:06] shunshou opened #119 "Interpreter black boxes wrong?"
[To be addressed later]:

io.fixAsReal := io.fix.asReal
io.realAsInterval := io.real.toInterval(io.a)

only work with Verilator!

[2017-11-11 23:17] shunshou commented on #119
Also, convertable -> convertible

[2017-11-14 22:53] chick commented on #114
I have not figured out the broken problem but I have a new strategy suggested by Paul
Given a wire
[code]
rather than changing *dog* instead we inject additional code along the lines of
[code]

- This doesn't actually reduce the wires but both Paul and Steve feel that these steps would lead to fewer wires at synthesis.
- This should simplify the ChangeWidthPass, it would no longer need to try and

[2017-11-14 23:04] azidar commented on #114
Why are you clipping?

More specifically, what are the semantics of the bit-reducer transform when given an out-of-bound value? Is this treated as "user error" or should the circuit act gracefully by clipping? If its the former, then you shouldn't clip (and that's what I thought we were doing).

The solution I'll outline below only fixes where an trimmed wire is _referenced_, not where it is _decl

[2017-11-14 23:20] azidar commented on #114
I'd say do your solution first - if we see a positive synthesis result, then we can call it a day. Otherwise we will need to do the optimization ourselves.

[2017-11-14 23:21] chick commented on #114
I put clip in there because I was also considering the use of n·σ bit reductions, where we know that we will be pushing in values that are bigger than the bits we have re-allocated.
The advantage of the Paul proposal is I don't have to worry about bit operators or any other downstream ops.  Do you have specific objections to it.

[2017-11-14 23:25] azidar commented on #114
Clip will (at best) add a mux for every trimmed wire, which could theoretically cause a HUGE explosion in area costs. I'm also a lot less certain that a CAD tool can optimize around the mux. For now, I would trim with bits instead of clip. Then, if that works, we can try the n·σ bit reductions with a clip.

[2017-11-14 23:45] shunshou commented on #114
What is the operation of clip in this case? When simply trimming widths so
that tests pass (although some other inputs not tested might fail) you
should not be injecting any more logic. If you’re doing this at the
interval level and want to reassign ranges, try using the reassign interval
version of clip I created (or it might’ve been wrap; same op but different
constant args)

On Wednesday, Novem

[2017-11-14 23:48] chick commented on #114
Not going to do clips at this time!

[2017-11-15 18:35] chick commented on #114
@azidar
Here's what I am doing and code runs, but sadly, I am getting the same errors as before (looks like sign problems)
For wires and registers I am constructing the following
[code]
and
[code]
Am I missing the sign bit (off-by-one error?) or can you see anything else that looks like I might be wrong.  Is there are more idiomatic or elegant way of constructing the sign extension

[2017-11-15 18:42] azidar commented on #114
Shouldn't signExtend do nothing if nothingToDo == 0, not sign extend it? I'd also not worry about setting the types correctly, and just run InferTypes at the end.

Also, in the following line, why are you adding 2?
[code]

[2017-11-16 04:36] chick commented on #114
@shunshou @azidar I have not been able to construct a test yet, but I have convinced myself that the errors I get when I run Angie's tests is do to different instantiations of the same module getting different bit reductions for wires and registers within the different instances.  I realized this might be a problem earlier, but I kind of forgot about it.
What the heck is the way to annotate module

[2017-11-16 05:02] chick commented on #114
@shunshou @azidar Adding NoDedup per chisel3 chiselTests/AnnotationNoDedup.scala I was able to run one of Angie's tests
[code]
I'll try more soon.  The changes for this are beginning to sprawl.  Needs some hours of cleanup to tie everything up.
Sadly, I think a lot of my earlier code was mostly working but also getting bit by the lack of NoDedup.
We will need to run this new version through synthe

[2017-11-16 05:30] shunshou commented on #114
Ok let me know when you have a stable version and I’ll push it through
later tonight for me.

On Thursday, November 16, 2017, Chick Markley <notifications@github.com>
wrote:

[2017-11-16 05:47] chick commented on #114
I pushed a version that the aforementioned tests run on.  The DCT tests still fail but it's because of some verilog error.
[code]
That line of the verilog file is
[code]
That's probably all I am going to get done tonight, I'll get back on that horse in the morning

[2017-11-16 05:51] chick commented on #114
@shunshou
My foot got caught in the stirrup attempting to dismount.  Looks like the verilog error occurred when I reduced a signal down to 1 bit.  I did a quick hack to not reduce anything to below 4 bits and the following tests ran
[code]
Heading off-line.
If you want to add any more tests that use submodules you have to look at test/scala/toys/SystolicMatMul.scala to see how I prevented de-dupli

[2017-11-16 06:43] shunshou commented on #114
Ok I will report back by the time you wake up hopefully.

On Thursday, November 16, 2017, Chick Markley <notifications@github.com>
wrote:

[2017-11-16 19:29] shunshou commented on #114
@chick looks like now the non systolic tests fail?

On Thu, Nov 16, 2017 at 3:43 PM, Angie <shunshou@gmail.com> wrote:

[2017-11-16 19:34] shunshou commented on #114
Oops looks like I had the wrong setting... Sorry!

On Fri, Nov 17, 2017 at 4:29 AM, Angie <shunshou@gmail.com> wrote:

[2018-05-02 06:01] grebe commented on #116
Closed by #125

[2018-05-02 06:01] #116 closed

[2018-09-27 21:22] tampler opened #137 "ScalaTest FlatSpec tests won't compile"
Hello
I'm trying to launch a simple example FlatSpec test from your Documentation page with the following:
sbt "test-only SimpleDsp.SimpleDspModuleSpec"

Output:
[error] Expected ID character
[error] Not a valid command: test-only
...
Getting this error for the trunk version and v1.1.3 checkout. How to fix ?
Thank you for your help!

[2018-09-27 22:15] chick commented on #137
try
`sbt "testOnly SimpleDsp.SimpleDspModuleSpec"`
test-only is a deprecated command

[2018-09-28 00:13] #137 closed

[2018-09-29 21:30] tampler opened #139 "DspContext with extra pipeline stages won't work for FixedPoint"
Is that an expected behaviour ?

[code]

Both mres and ares get translated into combinational logic in Verilog, altho the number of extra wires is equal to the num of pipeline stages provided.

[2018-09-30 10:03] tampler commented on #139
Okay, I found an answer to my question in one of examples. To make things working as expected, one needs to use **context** operations inside the **DspContext** block.
[code]
Otherwise, it infers a default number of stages, which is 0

[2018-09-30 21:57] grebe commented on #139
Yeah, this is unfortunate. The issue is that it can be really confusing if `a + b` is using the typeclasses or not, so we decided that the vanilla operators (`+`, `*`, `-`, etc.) should not incorporate the context stuff and instead made a separate set of operators prefixed by `context_`. It's not the most satisfying solution, but I think it's better to be clear. I'd be curious to hear your thought

[2018-10-01 07:16] tampler commented on #139
I thinks this solution is okay, given the wide scope of applications and the variety of data types those Ring-based operators are expected to work with.

The next move is to improve documentation and code examples, since those are very basic operations and the use case with your library.

Could I contribute in this? I'm using your library to build my stuff and have enough insight in its intrinsics

[2018-10-01 16:27] shunshou commented on #139
Feel free to contribute with pull requests. The bulk of the documentation
is at
https://github.com/ucb-bar/dsptools/blob/master/src/main/scala/dsptools/numbers/README.md
(probably
should be moved to the top) but it looks like the examples I included were
either from before we decided on the context switch or I had a brain fart
and forgot to use the context version.... I’m also interested in what o

[2018-10-01 16:40] tampler commented on #139
Can I synch with your team? You definitely have high priority tasks, which you need to resolve. I see you're struggling with v1.1.4 release and you can't resolve dependencies in trunk.

As for PRs, I personally not interested in branching the lib itself. I'd prefer to work with your team. If you are not interested, I'll join another Berkeley project

[2018-10-01 17:03] shunshou commented on #139
As a rule, I don’t believe any Berkeley projects allow you to push directly
to master, regardless of whether you’re working with Berkeley on dev or
helping to patch things as an end user—we always use the PR/code review
process where we merge our local branch after the code has been code
reviewed. We’ve been looser about dsptools because there have only been a
handful of users (primarily ourselves

[2018-10-01 17:08] tampler commented on #139
Okay, I'm building a prop system and use your lib for FixedPoint and Complex computation. I had own Verilog implementation in past, but now switched to Chisel and deployed your lib.

I can do PR with doc/tests/features/updates/examples. What should I do then? I still need a discussion. I can't upload the prop code, but I can PR high priority features, which we could agree to work on.
I'm thinking

[2018-10-01 17:56] tampler commented on #139
Sure, what's the mail ? I have an idea. I need a stochastic rounding for my project, which is not supported within your lib. I'll start from a PR for this

[2018-10-01 18:02] shunshou commented on #139
You can e-mail me angie.wang@berkeley.edu and I can forward it out. I've
received some inputs on how we should go about doing rounding (mostly where
rounding should be implemented -- either at the output of operations or on
assignment), and I'd be curious what your preference is. We have some
simple rounding modes in our typeclasses, but additional flavors would
definitely be very welcome.

On Mon

[2018-10-03 17:49] Nic30 opened #140 "dsptools/blob/master/rocket/README.md links not working"
Links in usage sections are returning 404. Because structure of repository has changed.

[2018-10-07 18:15] #139 closed

[2018-10-25 21:07] joshsanz opened #143 "DspComplex[T].zero not initialized"
I'm trying to create a reg vector which will be initialized to zeros, but running into uninitialized errors. Based on the cookbook I wrote the code below:

[code]

When run, I get many errors which look like
[code]

Creating zeroComplex by instantiating a wire then tying the real and imag components to Real[T].zero separately seemed to work, but looking at the code I don't understand why this does

[2018-10-31 00:28] harrisonliew opened #144 "Instantiating constants of type DspComplex[DspReal]"
I believe there is an issue when constructing DspComplex constants with type DspReal versus FixedPoint. There is an inconsistency in the type checking.

If I declare a constant:
`val constant = DspComplex(Complex(1.0, 0.0))`

Using this constant with DspComplex[FixedPoint], but with DspComplex[DspReal], compilation errors out:
`chisel3.core.Binding$ExpectedHardwareException: data to be connected '

[2018-10-31 01:01] shunshou commented on #144
Ok, it's been a while since I looked at literals, and I know I was having problems with this a year ago...

Check out https://github.com/ucb-bar/dsptools/blob/3b1391f9c81e5924e3d86377c281b4f09d2d49a6/src/main/scala/dsptools/numbers/chisel_concrete/DspComplex.scala#L42

If you wanted to do

`val constant = DspComplex(Complex(1.0, 0.0))`

You should be explicitly doing
`val constant = DspComplex[Dsp

[2018-10-31 01:07] shunshou commented on #143
I think it's because the version of Chisel you're using doesn't accept Literals in Bundles. The shorthand for doing what you did is to use

`val zeroComplex = DspComplex.wire(Real[T].zero, Real[T].zero)`

You can assign elements in bundles to literals, but they can't be literals themselves.

This is, of course, not a long-term good solution, but things will get better when literals in bundles are

[2018-10-31 04:13] harrisonliew commented on #144
Thanks so much Angie. I realized I made a typo above and I did use
`DspComplex[T](Complex(1.0,0.0))`

Also, to clarify,
`val constant = Wire(params.proto.cloneType)` is necessary for FixedPoint but does not work for DspReal, which needs `val constant = Wire(params.proto)`. I already specify my FixedPoint proto's # of fractional bits in a case class that extends the trait.

I will mess around with

[2018-10-31 04:29] shunshou commented on #144
Ok it looks like when we made DspReal extend Bundle (see https://github.com/ucb-bar/dsptools/blob/3b1391f9c81e5924e3d86377c281b4f09d2d49a6/src/main/scala/dsptools/numbers/chisel_concrete/DspReal.scala#L9), we forgot to add a cloneType method... (again, I think this is only an issue w/ older versions of Chisel...).  Example of cloneType required by a subclass o Bundle: https://github.com/ucb-bar/ds

[2018-10-31 04:34] shunshou commented on #144
Just to summarize, if you add cloneType to DspReal:

[code]

And change the Lit apply in DspComplex:

[code]

You should be able to get a hacky version of DspComplex lit to work properly. I think once dsptools is upstreamed to take advantage of some of the more recent Chisel updates, this "hack" will no longer be necessary--i.e., once you take advantage of Lit-supporting bundles, you can do away w

[2018-10-31 08:15] shunshou commented on #144
lol yeah... things will get more stable in the future... hopefully, but it's great that you were able to get to these type nuances and figure stuff out :o definitely submit a PR to master after you test out the changes :)

[2018-11-01 19:12] grebe commented on #144
Ideally, no wires are needed at all, but Bundles can't get literal bindings if they have bundles inside them. I made a PR last night to try to resume bundle literals- see [this](https://github.com/freechipsproject/firrtl/pull/929) and [this](https://github.com/freechipsproject/chisel3/pull/921).

[2018-12-17 19:41] tampler opened #149 "Compilation fails in scala 2.12.8"
Project failed to compile in a new scala. Code needs to be refactored.
sbt 1.2.7
scala 2.12.8

[info] Compiling 42 Scala sources to /home/bku/work/bar/dsptools/target/scala-2.12/classes ...
[error] /home/bku/work/bar/dsptools/src/main/scala/dsptools/tester/DspTester.scala:229:5: overloaded method value expect with alternatives:
[error]   (data: dsptools.numbers.DspComplex[_],expected: breeze.math.

[2018-12-19 19:47] grebe commented on #149
This will need to be done again once a snapshot is published with the new `Pokeable` API.

[2018-12-19 20:02] grebe opened #151 "Pokeable Typeclasses for Testers"
[This PR](https://github.com/freechipsproject/chisel-testers/pull/221) to chisel-testers adds an API for typeclasses to be used for more types to be `peek` and `poke`d. I think `DspTester` should consider using these typeclasses instead of overriding `peek` and `poke`.

Some benefits:
  * If you already have a chisel3.iotesters tester that is type-generic, you can re-use it directly
  * Might be a

[2018-12-19 23:01] grebe commented on #149
Actually, it looks like my workstation was using an old snapshot and a snapshot with `Pokeable` has been published. The PR was updated.

[2018-12-24 00:56] #149 closed

[2018-12-24 00:56] grebe commented on #151
Closed by #150

[2018-12-24 00:56] #151 closed

[2019-04-10 23:57] grebe opened #156 "Remove updateDependencies script"
Everything should be on maven now!

[2019-04-25 21:28] grebe opened #158 "Document Width Relationships for Operations"
#157 was a result of the input/output relationship of operations being unclear. We should document carefully the width relationships in our typeclasses.

[2019-05-29 00:03] grebe opened #160 "Add -D flag for rocket source dependency"
When building rocket-dsptools, want to be able to do
```sbt -DROCKET_USE_SOURCE=path/to/rocketchip/src/dir```

@harrisonliew

[2019-06-25 14:34] c834606877 opened #167 "Is there any plan to update the SAM module?"
Hi,
I am new to learn the rocket chip project for a while. I want to implement a rv32i processor with dsp on my fpga, and found that craft2-chip implemented similar functions before this.
This project uses the SAM module to map Stream to AXI4 Memory.
But this module is not compatible with the diplomacy and disappeared in this project, same as dsp-template.

I implemented my dsp by extending TLDspB

[2019-06-26 03:53] c834606877 commented on #167
OK... Just found that the DMA has done for it.

[2019-06-26 03:53] #167 closed

[2019-10-21 17:39] tymcauley opened #175 "Issue with TileLink ready-valid logic in TLMasterModel"
In the [TLMasterModel Trait](https://github.com/ucb-bar/dsptools/blob/2b6c009456914c3a4aa86b1a6bd7b870b128abfd/rocket/src/main/scala/tl/TestIP.scala#L50), there are [`tlWrite*`](https://github.com/ucb-bar/dsptools/blob/2b6c009456914c3a4aa86b1a6bd7b870b128abfd/rocket/src/main/scala/tl/TestIP.scala#L76) and [`tlRead*`](https://github.com/ucb-bar/dsptools/blob/2b6c009456914c3a4aa86b1a6bd7b870b128abfd

[2019-11-06 06:37] grebe commented on #175
Sorry for the slow reply.

Yeah, you're absolutely correct. `TLMasterModel` has always been a bit rickety compared to AXI, perhaps this is one reason why. I'll assign fixing this to myself. The model should really be tested more.

[2019-11-06 15:49] tymcauley commented on #175
No problem, thanks for the confirmation! Let me know if I can do anything to help out. I can certainly submit a PR to fix these logical bugs in the `TLMasterModel` trait, but since I'm not so familiar with the code base, I don't know if I'll really be able to add new tests (which it sounds like you'd like to do).

[2019-12-17 17:45] ucbjrl opened #184 "Run-time failures for DspComplex isLit()"
With freechipsproject/chisel3#1256 (_Fix deprecation warning that leaks into user code_), `isLit()` now calls `litOption.isDefined` which is explicitly unimplemented for Aggregates and the `isLit()` tests in `DspComplex` now blow up with:
[code]
A fix to chisel3 is in progress.

[2020-01-27 18:42] grebe opened #191 "Read the docs"
I think it would be a good idea to convert our documentation to read the docs. This would bring things more in-line with the rest of chipyard.

[2020-02-19 00:46] ucbjrl opened #196 "rocket-dsptools DmaSpec test failure with current rocket-chip"
With current rocket-chip, after #185 is applied, `DmaSpec.elaborate connected to the pbus` fails with:
[code]

[2020-03-18 21:23] chick opened #199 "Working with large FixedPoint and Intervals should use BigDecimal not Double"
Most of the methods provided by dsptools and DspTester presume the numbers can be
modeled with Doubles. This doesn't work for sufficiently wide FixedPoint and Intervals

Additional methods should be added and should be illustrated in the tests at least

[2020-04-08 17:03] chick opened #205 "Set precision in div2 fixedpoint and interval may have provblems"
Note comment in IntervalTypeClass
[code]

[2020-07-05 04:41] coderbee opened #210 "Update the link to numeric classes description"
The following link seems to be broken in the README description.

"For an additional, more detailed description of the Numeric classes in dsptools: see **The Numbers ReadMe**"
https://github.com/ucb-bar/dsptools/blob/master/src/main/scala/dsptools/numbers/README.md

[2020-07-09 10:55] NignetShark commented on #210
If it helps, you can find all the documentation at https://github.com/ucb-bar/dsptools/blob/master/doc/

[2020-07-09 15:59] coderbee commented on #210
Thanks, I'll look at this

[2020-10-27 04:51] chick opened #214 "Failing Tests on 3.4.1"
[code]

[2020-10-27 04:55] chick commented on #214
@jackkoenig @azidar All of the errors I have looked at so far are of the form
[code]
This sounds like it might be related to the literal problems discussed at the dev meeting today.

[2020-12-19 13:27] manageryzy opened #219 "example code not working"
confirmed Version : 1.4.0/1.4.1 ...

error code [doc/Example.md](https://github.com/ucb-bar/dsptools/blob/master/doc/Example.md)

behavior: no pipeline inserted with "+". ok with "context_+"

[2021-01-05 09:33] schoeberl opened #220 "Library conflict"
dsptools and breeze gives following conflict:
[code]

[2021-01-05 23:10] chick commented on #220
Thanks, I'll take a look.